<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>lasersoft-ui documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">lasersoft-ui documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  AccordionGroupComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/components/accordion/accordion-group.component.ts</code>
</p>


    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>My Super awesome accordion group</p>

    </p>




<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-accordion-group</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;card mymodal&quot;&gt;
  &lt;div class&#x3D;&quot;card-header bg-info text-white&quot; (click)&#x3D;&quot;headerClick.emit()&quot;&gt;
    {{title}}
  &lt;/div&gt;
  &lt;div class&#x3D;&quot;card-body&quot; *ngIf&#x3D;&quot;opened&quot;&gt;
    &lt;ng-content&gt;&lt;/ng-content&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>


                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#opened" >opened</a>
                            </li>
                            <li>
                                <a href="#title" >title</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Outputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#headerClick" >headerClick</a>
                            </li>
                        </ul>
                    </td>
                </tr>



        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="opened"></a>
                        <b>opened</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">src/app/shared/components/accordion/accordion-group.component.ts:28</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>if card is opened</p>
</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="title"></a>
                        <b>title</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;&#x27;</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="24" class="link-to-prism">src/app/shared/components/accordion/accordion-group.component.ts:24</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>Card Title</p>
</div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>
    <section>
    <h3 id="outputs">Outputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="headerClick"></a>
                        <b>headerClick</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="32" class="link-to-prism">src/app/shared/components/accordion/accordion-group.component.ts:32</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>user clicks header</p>
</div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>




</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, EventEmitter, Input, OnDestroy, OnInit, Output } from &#x27;@angular/core&#x27;;

/**
 * My Super awesome accordion group
 */
@Component({
  selector: &#x27;app-accordion-group&#x27;,
  template: &#x60;
    &lt;div class&#x3D;&quot;card mymodal&quot;&gt;
      &lt;div class&#x3D;&quot;card-header bg-info text-white&quot; (click)&#x3D;&quot;headerClick.emit()&quot;&gt;
        {{title}}
      &lt;/div&gt;
      &lt;div class&#x3D;&quot;card-body&quot; *ngIf&#x3D;&quot;opened&quot;&gt;
        &lt;ng-content&gt;&lt;/ng-content&gt;
      &lt;/div&gt;
    &lt;/div&gt; 
  &#x60;,

})
export class AccordionGroupComponent {
  /**
   * Card Title
   */
  @Input() title: string &#x3D; &#x27;&#x27;;
  /**
   * if card is opened
   */
  @Input() opened &#x3D; false;
  /**
   * user clicks header
   */
  @Output() headerClick &#x3D; new EventEmitter();
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="card mymodal">  <div class="card-header bg-info text-white" (click)="headerClick.emit()">    {{title}}  </div>  <div class="card-body" *ngIf="opened">    <ng-content></ng-content>  </div></div></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'app-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'app-accordion-group'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'BodyComponent', 'selector': 'app-body'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'ColComponent', 'selector': 'app-col'},{'name': 'Directive2Component', 'selector': 'app-directive2'},{'name': 'Directive3Component', 'selector': 'app-directive3'},{'name': 'DirectivesComponent', 'selector': 'app-directives'},{'name': 'FooterComponent', 'selector': 'app-footer'},{'name': 'GmapComponent', 'selector': 'app-gmap'},{'name': 'MapquestStaticComponent', 'selector': 'app-mapquest-static'},{'name': 'Pipes2Component', 'selector': 'app-pipes2'},{'name': 'Pipes3Component', 'selector': 'app-pipes3'},{'name': 'PipesComponent', 'selector': 'app-pipes'},{'name': 'RowComponent', 'selector': 'app-row'},{'name': 'SeparatorComponent', 'selector': 'app-separator'},{'name': 'TextComponent', 'selector': 'app-text'},{'name': 'UikitDemo1Component', 'selector': 'app-uikit-demo1'},{'name': 'UikitDemo2Component', 'selector': 'app-uikit-demo2'},{'name': 'UikitDemo3Component', 'selector': 'app-uikit-demo3'},{'name': 'Weather2Component', 'selector': 'app-weather2'},{'name': 'WeatherComponent', 'selector': 'app-weather'}];
    var DIRECTIVES = [{'name': 'BorderDirective', 'selector': '[appBorder]'},{'name': 'FlexColDirective', 'selector': '[appFlexCol]'},{'name': 'FlexDirective', 'selector': '[appFlex]'},{'name': 'FocusDirective', 'selector': '[appFocus]'},{'name': 'HelloDirective', 'selector': '[appHello]'},{'name': 'IfLoggedDirective', 'selector': '[appIfLogged]'},{'name': 'IfRoleIsDirective', 'selector': '[appIfRoleIs]'},{'name': 'IfSigninDirective', 'selector': '[appIfSignin]'},{'name': 'LinkDirective', 'selector': '[appLink]'},{'name': 'LoaderDirective', 'selector': '[appLoader]'},{'name': 'MarginDirective', 'selector': '[appMargin]'},{'name': 'PadDirectives', 'selector': '[appPad]'},{'name': 'StopPropagationDirective', 'selector': '[appStopPropagation]'},{'name': 'UrlDirective', 'selector': '[appUrl]'}];
    var ACTUAL_COMPONENT = {'name': 'AccordionGroupComponent'};
</script>
<script src="../js/tree.js"></script>















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'AccordionGroupComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
