<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>lasersoft-ui documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">lasersoft-ui documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  DirectivesComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/directives/directives.component.ts</code>
</p>




    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-directives</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">

Visita il sito &lt;span appUrl&#x3D;&quot;http://www.google.com&quot;&gt;Google&lt;/span&gt; oppure
&lt;span appLink&#x3D;&quot;http://www.facebook.com&quot;&gt;facebook&lt;/span&gt;


&lt;h1&gt;Auth Example&lt;/h1&gt;
&lt;pre&gt;{{(authService.data$ | async)?.token}}&lt;/pre&gt;
&lt;button (click)&#x3D;&quot;authService.login()&quot;&gt;Login&lt;/button&gt;
&lt;button
  (click)&#x3D;&quot;authService.logout()&quot;
  appIfLogged
&gt;Logout&lt;/button&gt;

&lt;button
    (click)&#x3D;&quot;authService.logout()&quot;
    *appIfSignin
  &gt;Quit&lt;/button&gt;

&lt;button
    (click)&#x3D;&quot;authService.logout()&quot;
    *appIfRoleIs&#x3D;&quot;&#x27;admin&#x27;&quot;
  &gt;Quit for admins&lt;/button&gt;
&lt;hr&gt;


&lt;h1&gt;Attribute Directives&lt;/h1&gt;
&lt;div [appPad]&#x3D;&quot;2&quot; color&#x3D;&quot;red&quot;&gt;Padding Example&lt;/div&gt;
&lt;button (click)&#x3D;&quot;value &#x3D; value + 1&quot;&gt;+&lt;/button&gt;
&lt;button (click)&#x3D;&quot;borderValue &#x3D; &#x27;dotted&#x27;&quot;&gt;dotted&lt;/button&gt;
&lt;button (click)&#x3D;&quot;borderValue &#x3D; &#x27;solid&#x27;&quot;&gt;solid&lt;/button&gt;
&lt;div [appMargin]&#x3D;&quot;value&quot;
     [appBorder]&#x3D;&quot;borderValue&quot;&gt;Margin + border Example&lt;/div&gt;

&lt;div
  class&#x3D;&quot;alert alert-danger&quot;
  [style.fontSize.px]&#x3D;&quot;10&quot;
  [innerHTML]&#x3D;&quot;label&quot;&gt;....&lt;/div&gt;

&lt;div appHello #h&#x3D;&quot;appHello&quot;&gt;
  xyz bla bla
  &lt;div&gt;{{h.class}}&lt;/div&gt;
&lt;/div&gt;


&lt;form #f&#x3D;&quot;ngForm&quot; (submit)&#x3D;&quot;save(f.value)&quot;&gt;
  &lt;input type&#x3D;&quot;text&quot; ngModel name&#x3D;&quot;username&quot; required #userRef&#x3D;&quot;ngModel&quot;&gt;
  {{userRef.valid}} - {{userRef.errors | json}}
  &lt;input type&#x3D;&quot;text&quot; ngModel name&#x3D;&quot;password&quot;&gt;
  &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot;&gt;SAVE&lt;/button&gt;
&lt;/form&gt;

</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#authService" >authService</a>
                            </li>
                            <li>
                                <a href="#borderValue" >borderValue</a>
                            </li>
                            <li>
                                <a href="#label" >label</a>
                            </li>
                            <li>
                                <a href="#value" >value</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngOnInit" >ngOnInit</a>
                            </li>
                            <li>
                                <a href="#save" >save</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(authService: <a href="../injectables/AuthService.html" target="_self">AuthService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="64" class="link-to-prism">src/app/features/directives/directives.component.ts:64</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>authService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/AuthService.html" target="_self" >AuthService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <span ><b>ngOnInit</b></span>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="69"
                            class="link-to-prism">src/app/features/directives/directives.component.ts:69</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="save"></a>
                    <span class="name">
                        <span ><b>save</b></span>
                        <a href="#save"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>save(formData: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="72"
                            class="link-to-prism">src/app/features/directives/directives.component.ts:72</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>formData</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="authService"></a>
                    <span class="name">
                            <span class="modifier">Public</span>
                        <span ><b>authService</b></span>
                        <a href="#authService"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../injectables/AuthService.html" target="_self" >AuthService</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="66" class="link-to-prism">src/app/features/directives/directives.component.ts:66</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="borderValue"></a>
                    <span class="name">
                        <span ><b>borderValue</b></span>
                        <a href="#borderValue"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;dashed&#x27;</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="64" class="link-to-prism">src/app/features/directives/directives.component.ts:64</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="label"></a>
                    <span class="name">
                        <span ><b>label</b></span>
                        <a href="#label"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;pluto&#x27;</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="62" class="link-to-prism">src/app/features/directives/directives.component.ts:62</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="value"></a>
                    <span class="name">
                        <span ><b>value</b></span>
                        <a href="#value"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>1</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="63" class="link-to-prism">src/app/features/directives/directives.component.ts:63</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;
import { AuthService } from &#x27;../../core/auth.service&#x27;;

@Component({
  selector: &#x27;app-directives&#x27;,
  template: &#x60;
    
    
    Visita il sito &lt;span appUrl&#x3D;&quot;http://www.google.com&quot;&gt;Google&lt;/span&gt; oppure
    &lt;span appLink&#x3D;&quot;http://www.facebook.com&quot;&gt;facebook&lt;/span&gt;

   
    &lt;h1&gt;Auth Example&lt;/h1&gt;
    &lt;pre&gt;{{(authService.data$ | async)?.token}}&lt;/pre&gt;
    &lt;button (click)&#x3D;&quot;authService.login()&quot;&gt;Login&lt;/button&gt;
    &lt;button
      (click)&#x3D;&quot;authService.logout()&quot;
      appIfLogged
    &gt;Logout&lt;/button&gt;
    
    &lt;button
        (click)&#x3D;&quot;authService.logout()&quot;
        *appIfSignin
      &gt;Quit&lt;/button&gt;
     
    &lt;button
        (click)&#x3D;&quot;authService.logout()&quot;
        *appIfRoleIs&#x3D;&quot;&#x27;admin&#x27;&quot;
      &gt;Quit for admins&lt;/button&gt;
    &lt;hr&gt;
    
    
    &lt;h1&gt;Attribute Directives&lt;/h1&gt;
    &lt;div [appPad]&#x3D;&quot;2&quot; color&#x3D;&quot;red&quot;&gt;Padding Example&lt;/div&gt;
    &lt;button (click)&#x3D;&quot;value &#x3D; value + 1&quot;&gt;+&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;borderValue &#x3D; &#x27;dotted&#x27;&quot;&gt;dotted&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;borderValue &#x3D; &#x27;solid&#x27;&quot;&gt;solid&lt;/button&gt;
    &lt;div [appMargin]&#x3D;&quot;value&quot; 
         [appBorder]&#x3D;&quot;borderValue&quot;&gt;Margin + border Example&lt;/div&gt;
    
    &lt;div 
      class&#x3D;&quot;alert alert-danger&quot; 
      [style.fontSize.px]&#x3D;&quot;10&quot; 
      [innerHTML]&#x3D;&quot;label&quot;&gt;....&lt;/div&gt;
    
    &lt;div appHello #h&#x3D;&quot;appHello&quot;&gt;
      xyz bla bla
      &lt;div&gt;{{h.class}}&lt;/div&gt;
    &lt;/div&gt;
    
    
    &lt;form #f&#x3D;&quot;ngForm&quot; (submit)&#x3D;&quot;save(f.value)&quot;&gt;
      &lt;input type&#x3D;&quot;text&quot; ngModel name&#x3D;&quot;username&quot; required #userRef&#x3D;&quot;ngModel&quot;&gt;
      {{userRef.valid}} - {{userRef.errors | json}}
      &lt;input type&#x3D;&quot;text&quot; ngModel name&#x3D;&quot;password&quot;&gt;
      &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot;&gt;SAVE&lt;/button&gt;
    &lt;/form&gt;
   
  &#x60;,
})
export class DirectivesComponent implements OnInit {
  label &#x3D; &#x27;pluto&#x27;;
  value &#x3D; 1;
  borderValue &#x3D; &#x27;dashed&#x27;

  constructor(public authService: AuthService) {
  }

  ngOnInit(): void {
  }

  save(formData: any) {
    console.log(formData)
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div>Visita il sito <span appUrl="http://www.google.com">Google</span> oppure<span appLink="http://www.facebook.com">facebook</span><h1>Auth Example</h1><pre>{{(authService.data$ | async)?.token}}</pre><button (click)="authService.login()">Login</button><button  (click)="authService.logout()"  appIfLogged>Logout</button><button    (click)="authService.logout()"    *appIfSignin  >Quit</button><button    (click)="authService.logout()"    *appIfRoleIs="\'admin\'"  >Quit for admins</button><hr><h1>Attribute Directives</h1><div [appPad]="2" color="red">Padding Example</div><button (click)="value = value + 1">+</button><button (click)="borderValue = \'dotted\'">dotted</button><button (click)="borderValue = \'solid\'">solid</button><div [appMargin]="value"     [appBorder]="borderValue">Margin + border Example</div><div  class="alert alert-danger"  [style.fontSize.px]="10"  [innerHTML]="label">....</div><div appHello #h="appHello">  xyz bla bla  <div>{{h.class}}</div></div><form #f="ngForm" (submit)="save(f.value)">  <input type="text" ngModel name="username" required #userRef="ngModel">  {{userRef.valid}} - {{userRef.errors | json}}  <input type="text" ngModel name="password">  <button type="submit" [disabled]="f.invalid">SAVE</button></form></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'app-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'app-accordion-group'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'BodyComponent', 'selector': 'app-body'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'ColComponent', 'selector': 'app-col'},{'name': 'Directive2Component', 'selector': 'app-directive2'},{'name': 'Directive3Component', 'selector': 'app-directive3'},{'name': 'DirectivesComponent', 'selector': 'app-directives'},{'name': 'FooterComponent', 'selector': 'app-footer'},{'name': 'GmapComponent', 'selector': 'app-gmap'},{'name': 'MapquestStaticComponent', 'selector': 'app-mapquest-static'},{'name': 'Pipes2Component', 'selector': 'app-pipes2'},{'name': 'Pipes3Component', 'selector': 'app-pipes3'},{'name': 'PipesComponent', 'selector': 'app-pipes'},{'name': 'RowComponent', 'selector': 'app-row'},{'name': 'SeparatorComponent', 'selector': 'app-separator'},{'name': 'TextComponent', 'selector': 'app-text'},{'name': 'UikitDemo1Component', 'selector': 'app-uikit-demo1'},{'name': 'UikitDemo2Component', 'selector': 'app-uikit-demo2'},{'name': 'UikitDemo3Component', 'selector': 'app-uikit-demo3'},{'name': 'Weather2Component', 'selector': 'app-weather2'},{'name': 'WeatherComponent', 'selector': 'app-weather'}];
    var DIRECTIVES = [{'name': 'BorderDirective', 'selector': '[appBorder]'},{'name': 'FlexColDirective', 'selector': '[appFlexCol]'},{'name': 'FlexDirective', 'selector': '[appFlex]'},{'name': 'FocusDirective', 'selector': '[appFocus]'},{'name': 'HelloDirective', 'selector': '[appHello]'},{'name': 'IfLoggedDirective', 'selector': '[appIfLogged]'},{'name': 'IfRoleIsDirective', 'selector': '[appIfRoleIs]'},{'name': 'IfSigninDirective', 'selector': '[appIfSignin]'},{'name': 'LinkDirective', 'selector': '[appLink]'},{'name': 'LoaderDirective', 'selector': '[appLoader]'},{'name': 'MarginDirective', 'selector': '[appMargin]'},{'name': 'PadDirectives', 'selector': '[appPad]'},{'name': 'StopPropagationDirective', 'selector': '[appStopPropagation]'},{'name': 'UrlDirective', 'selector': '[appUrl]'}];
    var ACTUAL_COMPONENT = {'name': 'DirectivesComponent'};
</script>
<script src="../js/tree.js"></script>















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'DirectivesComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
