<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>lasersoft-ui documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">lasersoft-ui documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  Pipes2Component</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/pipes2/pipes2.component.ts</code>
</p>






<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-pipes2</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">
&lt;input type&#x3D;&quot;text&quot; [(ngModel)]&#x3D;&quot;currentFilterName&quot;&gt;

&lt;select [(ngModel)]&#x3D;&quot;currentFilterGender&quot;&gt;
  &lt;option value&#x3D;&quot;&quot;&gt;All&lt;/option&gt;
  &lt;option value&#x3D;&quot;M&quot;&gt;Male&lt;/option&gt;
  &lt;option value&#x3D;&quot;F&quot;&gt;Female&lt;/option&gt;
&lt;/select&gt;

&lt;select [(ngModel)]&#x3D;&quot;currentSort&quot;&gt;
  &lt;option value&#x3D;&quot;ASC&quot;&gt;ASC&lt;/option&gt;
  &lt;option value&#x3D;&quot;DESC&quot;&gt;DESC&lt;/option&gt;
&lt;/select&gt;

&lt;h1&gt;Filters: {{currentFilterName}} - {{currentFilterGender}} - {{currentSort}}&lt;/h1&gt;
&lt;hr&gt;


&lt;li
  *ngFor&#x3D;&quot;let user of users
  | filterByGender: currentFilterGender
  | filterByText: currentFilterName
  | sort: currentSort
&quot;&gt;
 {{user.name}} - {{user.age}} - {{user.gender}}
&lt;/li&gt;

&lt;hr&gt;
{{1530442212000 | timeAgo}} &lt;br&gt;
{{1600442212000 | timeAgo}} &lt;br&gt;
{{today | timeAgo}}

&lt;hr&gt;
{{(userId | getUser | async)?.name}}
{{userId | getUserHuman | async}}
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#currentFilterGender" >currentFilterGender</a>
                            </li>
                            <li>
                                <a href="#currentFilterName" >currentFilterName</a>
                            </li>
                            <li>
                                <a href="#currentSort" >currentSort</a>
                            </li>
                            <li>
                                <a href="#today" >today</a>
                            </li>
                            <li>
                                <a href="#userId" >userId</a>
                            </li>
                            <li>
                                <a href="#users" >users</a>
                            </li>
                        </ul>
                    </td>
                </tr>






        </tbody>
    </table>
</section>







    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="currentFilterGender"></a>
                    <span class="name">
                        <span ><b>currentFilterGender</b></span>
                        <a href="#currentFilterGender"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>&quot;M&quot; | &quot;F&quot; | string</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;&#x27;</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="52" class="link-to-prism">src/app/features/pipes2/pipes2.component.ts:52</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="currentFilterName"></a>
                    <span class="name">
                        <span ><b>currentFilterName</b></span>
                        <a href="#currentFilterName"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;&#x27;</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="51" class="link-to-prism">src/app/features/pipes2/pipes2.component.ts:51</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="currentSort"></a>
                    <span class="name">
                        <span ><b>currentSort</b></span>
                        <a href="#currentSort"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>&quot;ASC&quot; | &quot;DESC&quot;</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;ASC&#x27;</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="53" class="link-to-prism">src/app/features/pipes2/pipes2.component.ts:53</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="today"></a>
                    <span class="name">
                        <span ><b>today</b></span>
                        <a href="#today"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>new Date()</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="54" class="link-to-prism">src/app/features/pipes2/pipes2.component.ts:54</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="userId"></a>
                    <span class="name">
                        <span ><b>userId</b></span>
                        <a href="#userId"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>5</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="55" class="link-to-prism">src/app/features/pipes2/pipes2.component.ts:55</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="users"></a>
                    <span class="name">
                        <span ><b>users</b></span>
                        <a href="#users"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../interfaces/User.html" target="_self" >User[]</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>[
    { id: 1, name: &#x27;Silvio&#x27;, age: 20, gender: &#x27;M&#x27; },
    { id: 2, name: &#x27;Ciccio&#x27;, age: 30, gender: &#x27;M&#x27; },
    { id: 3, name: &#x27;Dilvia&#x27;, age: 25, gender: &#x27;F&#x27; },
  ]</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="57" class="link-to-prism">src/app/features/pipes2/pipes2.component.ts:57</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;

export interface User {
  id: number;
  name: string;
  age: number;
  gender: &#x27;M&#x27; | &#x27;F&#x27;;
}

@Component({
  selector: &#x27;app-pipes2&#x27;,
  template: &#x60;
    
    &lt;input type&#x3D;&quot;text&quot; [(ngModel)]&#x3D;&quot;currentFilterName&quot;&gt;
    
    &lt;select [(ngModel)]&#x3D;&quot;currentFilterGender&quot;&gt;
      &lt;option value&#x3D;&quot;&quot;&gt;All&lt;/option&gt;
      &lt;option value&#x3D;&quot;M&quot;&gt;Male&lt;/option&gt;
      &lt;option value&#x3D;&quot;F&quot;&gt;Female&lt;/option&gt;    
    &lt;/select&gt;
    
    &lt;select [(ngModel)]&#x3D;&quot;currentSort&quot;&gt;
      &lt;option value&#x3D;&quot;ASC&quot;&gt;ASC&lt;/option&gt;
      &lt;option value&#x3D;&quot;DESC&quot;&gt;DESC&lt;/option&gt;    
    &lt;/select&gt;
    
    &lt;h1&gt;Filters: {{currentFilterName}} - {{currentFilterGender}} - {{currentSort}}&lt;/h1&gt;
    &lt;hr&gt;
    
    
    &lt;li 
      *ngFor&#x3D;&quot;let user of users 
      | filterByGender: currentFilterGender 
      | filterByText: currentFilterName
      | sort: currentSort
    &quot;&gt;
     {{user.name}} - {{user.age}} - {{user.gender}}
    &lt;/li&gt;
    
    &lt;hr&gt;
    {{1530442212000 | timeAgo}} &lt;br&gt;
    {{1600442212000 | timeAgo}} &lt;br&gt;
    {{today | timeAgo}}
    
    &lt;hr&gt;
    {{(userId | getUser | async)?.name}}
    {{userId | getUserHuman | async}}
  &#x60;,
})
export class Pipes2Component {
  currentFilterName &#x3D; &#x27;&#x27;
  currentFilterGender: &#x27;M&#x27; | &#x27;F&#x27; | &#x27;&#x27; &#x3D; &#x27;&#x27;
  currentSort: &#x27;ASC&#x27; | &#x27;DESC&#x27; &#x3D; &#x27;ASC&#x27;
  today &#x3D; new Date()
  userId &#x3D; 5;

  users: User[] &#x3D; [
    { id: 1, name: &#x27;Silvio&#x27;, age: 20, gender: &#x27;M&#x27; },
    { id: 2, name: &#x27;Ciccio&#x27;, age: 30, gender: &#x27;M&#x27; },
    { id: 3, name: &#x27;Dilvia&#x27;, age: 25, gender: &#x27;F&#x27; },
  ]

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><input type="text" [(ngModel)]="currentFilterName"><select [(ngModel)]="currentFilterGender">  <option value="">All</option>  <option value="M">Male</option>  <option value="F">Female</option></select><select [(ngModel)]="currentSort">  <option value="ASC">ASC</option>  <option value="DESC">DESC</option></select><h1>Filters: {{currentFilterName}} - {{currentFilterGender}} - {{currentSort}}</h1><hr><li  *ngFor="let user of users  | filterByGender: currentFilterGender  | filterByText: currentFilterName  | sort: currentSort"> {{user.name}} - {{user.age}} - {{user.gender}}</li><hr>{{1530442212000 | timeAgo}} <br>{{1600442212000 | timeAgo}} <br>{{today | timeAgo}}<hr>{{(userId | getUser | async)?.name}}{{userId | getUserHuman | async}}</div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'app-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'app-accordion-group'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'BodyComponent', 'selector': 'app-body'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'ColComponent', 'selector': 'app-col'},{'name': 'Directive2Component', 'selector': 'app-directive2'},{'name': 'Directive3Component', 'selector': 'app-directive3'},{'name': 'DirectivesComponent', 'selector': 'app-directives'},{'name': 'FooterComponent', 'selector': 'app-footer'},{'name': 'GmapComponent', 'selector': 'app-gmap'},{'name': 'MapquestStaticComponent', 'selector': 'app-mapquest-static'},{'name': 'Pipes2Component', 'selector': 'app-pipes2'},{'name': 'Pipes3Component', 'selector': 'app-pipes3'},{'name': 'PipesComponent', 'selector': 'app-pipes'},{'name': 'RowComponent', 'selector': 'app-row'},{'name': 'SeparatorComponent', 'selector': 'app-separator'},{'name': 'TextComponent', 'selector': 'app-text'},{'name': 'UikitDemo1Component', 'selector': 'app-uikit-demo1'},{'name': 'UikitDemo2Component', 'selector': 'app-uikit-demo2'},{'name': 'UikitDemo3Component', 'selector': 'app-uikit-demo3'},{'name': 'Weather2Component', 'selector': 'app-weather2'},{'name': 'WeatherComponent', 'selector': 'app-weather'}];
    var DIRECTIVES = [{'name': 'BorderDirective', 'selector': '[appBorder]'},{'name': 'FlexColDirective', 'selector': '[appFlexCol]'},{'name': 'FlexDirective', 'selector': '[appFlex]'},{'name': 'FocusDirective', 'selector': '[appFocus]'},{'name': 'HelloDirective', 'selector': '[appHello]'},{'name': 'IfLoggedDirective', 'selector': '[appIfLogged]'},{'name': 'IfRoleIsDirective', 'selector': '[appIfRoleIs]'},{'name': 'IfSigninDirective', 'selector': '[appIfSignin]'},{'name': 'LinkDirective', 'selector': '[appLink]'},{'name': 'LoaderDirective', 'selector': '[appLoader]'},{'name': 'MarginDirective', 'selector': '[appMargin]'},{'name': 'PadDirectives', 'selector': '[appPad]'},{'name': 'StopPropagationDirective', 'selector': '[appStopPropagation]'},{'name': 'UrlDirective', 'selector': '[appUrl]'}];
    var ACTUAL_COMPONENT = {'name': 'Pipes2Component'};
</script>
<script src="../js/tree.js"></script>















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'Pipes2Component.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
