<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>lasersoft-ui documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">lasersoft-ui documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  UikitDemo1Component</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/uikit-demo1/uikit-demo1.component.ts</code>
</p>




    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/AfterViewInit" target="_blank" >AfterViewInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-uikit-demo1</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>
    .mymodal {
      background-color: cyan;
      position: fixed;
      width: 300px;
      top: 100px;
      right: 0;
      left: 0;
    }
  </code></td>
            </tr>

            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;app-text [val]&#x3D;&quot;1&quot;&gt;text example&lt;/app-text&gt;
&lt;app-text [val]&#x3D;&quot;3&quot; color&#x3D;&quot;danger&quot;&gt;text example&lt;/app-text&gt;


&lt;app-separator&gt;&lt;/app-separator&gt;
&lt;app-separator color&#x3D;&quot;red&quot; type&#x3D;&quot;dashed&quot;&gt;&lt;/app-separator&gt;

 &lt;input #inputRef type&#x3D;&quot;text&quot; placeholder&#x3D;&quot;search your city&quot;&gt;
 &lt;app-weather2 [city]&#x3D;&quot;city&quot;&gt;&lt;/app-weather2&gt;
 &lt;app-weather [city]&#x3D;&quot;city&quot; [titleColor]&#x3D;&quot;color&quot; [config]&#x3D;&quot;cfg&quot;&gt;&lt;/app-weather&gt;
 &lt;button (click)&#x3D;&quot;cfg.unit &#x3D; &#x27;imperial&#x27;&quot;&gt;imperial&lt;/button&gt;
 &lt;button (click)&#x3D;&quot;cfg &#x3D; { unit: &#x27;imperial&#x27;}&quot;&gt;imperial&lt;/button&gt;
 &lt;button (click)&#x3D;&quot;color &#x3D; &#x27;cyan&#x27;&quot;&gt;cyan&lt;/button&gt;
 &lt;button (click)&#x3D;&quot;color &#x3D; &#x27;red&#x27;&quot;&gt;red&lt;/button&gt;
 &lt;button (click)&#x3D;&quot;city &#x3D; &#x27;milano&#x27;&quot;&gt;milano&lt;/button&gt;
 &lt;button (click)&#x3D;&quot;city &#x3D; &#x27;rome&#x27;&quot;&gt;rome&lt;/button&gt;

 &lt;hr&gt;

 &lt;app-card title&#x3D;&quot;pippo&quot; *ngIf&#x3D;&quot;show&quot;&gt;
   &lt;app-body&gt;
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa dicta ipsam itaque modi quaerat quo saepe sit suscipit veritatis. Animi atque possimus vero voluptas? Alias, dicta, minima? Repudiandae, sapiente.
   &lt;/app-body&gt;
   &lt;app-footer&gt;
     &lt;button&gt;one&lt;/button&gt;
     &lt;button&gt;two&lt;/button&gt;
   &lt;/app-footer&gt;
 &lt;/app-card&gt;

 &lt;button (click)&#x3D;&quot;show &#x3D; true&quot;&gt;show modal&lt;/button&gt;
 &lt;button (click)&#x3D;&quot;show &#x3D; false&quot;&gt;hide modal&lt;/button&gt;
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#cfg" >cfg</a>
                            </li>
                            <li>
                                <a href="#city" >city</a>
                            </li>
                            <li>
                                <a href="#color" >color</a>
                            </li>
                            <li>
                                <a href="#input" >input</a>
                            </li>
                            <li>
                                <a href="#show" >show</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngAfterViewInit" >ngAfterViewInit</a>
                            </li>
                            <li>
                                <a href="#openUrl" >openUrl</a>
                            </li>
                            <li>
                                <a href="#render" >render</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>






    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngAfterViewInit"></a>
                    <span class="name">
                        <span ><b>ngAfterViewInit</b></span>
                        <a href="#ngAfterViewInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngAfterViewInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="64"
                            class="link-to-prism">src/app/features/uikit-demo1/uikit-demo1.component.ts:64</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="openUrl"></a>
                    <span class="name">
                        <span ><b>openUrl</b></span>
                        <a href="#openUrl"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>openUrl()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="76"
                            class="link-to-prism">src/app/features/uikit-demo1/uikit-demo1.component.ts:76</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="render"></a>
                    <span class="name">
                        <span ><b>render</b></span>
                        <a href="#render"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>render()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="80"
                            class="link-to-prism">src/app/features/uikit-demo1/uikit-demo1.component.ts:80</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="cfg"></a>
                    <span class="name">
                        <span ><b>cfg</b></span>
                        <a href="#cfg"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/object" target="_blank" >object</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>{ unit: &#x27;metric&#x27;}</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="62" class="link-to-prism">src/app/features/uikit-demo1/uikit-demo1.component.ts:62</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="city"></a>
                    <span class="name">
                        <span ><b>city</b></span>
                        <a href="#city"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>string | null</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;palermo&#x27;</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="60" class="link-to-prism">src/app/features/uikit-demo1/uikit-demo1.component.ts:60</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="color"></a>
                    <span class="name">
                        <span ><b>color</b></span>
                        <a href="#color"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;purple&#x27;</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="61" class="link-to-prism">src/app/features/uikit-demo1/uikit-demo1.component.ts:61</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="input"></a>
                    <span class="name">
                        <span ><b>input</b></span>
                        <a href="#input"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>ElementRef&lt;HTMLInputElement&gt;</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <b>Decorators : </b>
                        <br />
                        <code>
                            @ViewChild(&#x27;inputRef&#x27;)<br />
                        </code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="58" class="link-to-prism">src/app/features/uikit-demo1/uikit-demo1.component.ts:58</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="show"></a>
                    <span class="name">
                        <span ><b>show</b></span>
                        <a href="#show"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="59" class="link-to-prism">src/app/features/uikit-demo1/uikit-demo1.component.ts:59</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { AfterViewInit, Component, ElementRef, ViewChild, ViewEncapsulation } from &#x27;@angular/core&#x27;;
import { debounceTime, distinctUntilChanged, fromEvent } from &#x27;rxjs&#x27;;

@Component({
  selector: &#x27;app-uikit-demo1&#x27;,
  // encapsulation: ViewEncapsulation.None,
  template: &#x60;
   &lt;app-text [val]&#x3D;&quot;1&quot;&gt;text example&lt;/app-text&gt;
   &lt;app-text [val]&#x3D;&quot;3&quot; color&#x3D;&quot;danger&quot;&gt;text example&lt;/app-text&gt;
   
   
   &lt;app-separator&gt;&lt;/app-separator&gt;
   &lt;app-separator color&#x3D;&quot;red&quot; type&#x3D;&quot;dashed&quot;&gt;&lt;/app-separator&gt;
   
    &lt;input #inputRef type&#x3D;&quot;text&quot; placeholder&#x3D;&quot;search your city&quot;&gt;
    &lt;app-weather2 [city]&#x3D;&quot;city&quot;&gt;&lt;/app-weather2&gt;
    &lt;app-weather [city]&#x3D;&quot;city&quot; [titleColor]&#x3D;&quot;color&quot; [config]&#x3D;&quot;cfg&quot;&gt;&lt;/app-weather&gt;
    &lt;button (click)&#x3D;&quot;cfg.unit &#x3D; &#x27;imperial&#x27;&quot;&gt;imperial&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;cfg &#x3D; { unit: &#x27;imperial&#x27;}&quot;&gt;imperial&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;color &#x3D; &#x27;cyan&#x27;&quot;&gt;cyan&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;color &#x3D; &#x27;red&#x27;&quot;&gt;red&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;city &#x3D; &#x27;milano&#x27;&quot;&gt;milano&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;city &#x3D; &#x27;rome&#x27;&quot;&gt;rome&lt;/button&gt;
    
    &lt;hr&gt;
    
    &lt;app-card title&#x3D;&quot;pippo&quot; *ngIf&#x3D;&quot;show&quot;&gt;
      &lt;app-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa dicta ipsam itaque modi quaerat quo saepe sit suscipit veritatis. Animi atque possimus vero voluptas? Alias, dicta, minima? Repudiandae, sapiente.
      &lt;/app-body&gt;
      &lt;app-footer&gt;
        &lt;button&gt;one&lt;/button&gt;
        &lt;button&gt;two&lt;/button&gt;
      &lt;/app-footer&gt;
    &lt;/app-card&gt;
    
    &lt;button (click)&#x3D;&quot;show &#x3D; true&quot;&gt;show modal&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;show &#x3D; false&quot;&gt;hide modal&lt;/button&gt;
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!
  &#x60;,
  styles: [&#x60;
    .mymodal {
      background-color: cyan;
      position: fixed;
      width: 300px;
      top: 100px;
      right: 0;
      left: 0;
    }
  &#x60;]
})
export class UikitDemo1Component implements AfterViewInit {
  @ViewChild(&#x27;inputRef&#x27;) input!: ElementRef&lt;HTMLInputElement&gt;;
  show &#x3D; false;
  city: string | null &#x3D; &#x27;palermo&#x27;
  color &#x3D; &#x27;purple&#x27;
  cfg &#x3D; { unit: &#x27;metric&#x27;}

  ngAfterViewInit() {
    fromEvent(this.input.nativeElement, &#x27;input&#x27;)
      .pipe(
        debounceTime(1000),
        distinctUntilChanged()
      )
      .subscribe(
        (e: Event) &#x3D;&gt; this.city &#x3D; (e.target as HTMLInputElement).value
      )
    this.input.nativeElement.focus()
  }

  openUrl(): void {
    alert(&#x27;open url&#x27;)
  }

  render() {
    console.log(&#x27;RENDER: uikit-demo1&#x27;)
  }
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
            <pre class="line-numbers"><code class="language-scss">
    .mymodal {
      background-color: cyan;
      position: fixed;
      width: 300px;
      top: 100px;
      right: 0;
      left: 0;
    }
  
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><app-text [val]="1">text example</app-text><app-text [val]="3" color="danger">text example</app-text><app-separator></app-separator><app-separator color="red" type="dashed"></app-separator> <input #inputRef type="text" placeholder="search your city"> <app-weather2 [city]="city"></app-weather2> <app-weather [city]="city" [titleColor]="color" [config]="cfg"></app-weather> <button (click)="cfg.unit = \'imperial\'">imperial</button> <button (click)="cfg = { unit: \'imperial\'}">imperial</button> <button (click)="color = \'cyan\'">cyan</button> <button (click)="color = \'red\'">red</button> <button (click)="city = \'milano\'">milano</button> <button (click)="city = \'rome\'">rome</button> <hr> <app-card title="pippo" *ngIf="show">   <app-body>     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa dicta ipsam itaque modi quaerat quo saepe sit suscipit veritatis. Animi atque possimus vero voluptas? Alias, dicta, minima? Repudiandae, sapiente.   </app-body>   <app-footer>     <button>one</button>     <button>two</button>   </app-footer> </app-card> <button (click)="show = true">show modal</button> <button (click)="show = false">hide modal</button> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum ducimus ea excepturi facilis illum impedit iste itaque laborum minima nobis praesentium quas quia recusandae repellendus, voluptas voluptatem voluptates voluptatum!</div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'app-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'app-accordion-group'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'BodyComponent', 'selector': 'app-body'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'ColComponent', 'selector': 'app-col'},{'name': 'Directive2Component', 'selector': 'app-directive2'},{'name': 'Directive3Component', 'selector': 'app-directive3'},{'name': 'DirectivesComponent', 'selector': 'app-directives'},{'name': 'FooterComponent', 'selector': 'app-footer'},{'name': 'GmapComponent', 'selector': 'app-gmap'},{'name': 'MapquestStaticComponent', 'selector': 'app-mapquest-static'},{'name': 'Pipes2Component', 'selector': 'app-pipes2'},{'name': 'Pipes3Component', 'selector': 'app-pipes3'},{'name': 'PipesComponent', 'selector': 'app-pipes'},{'name': 'RowComponent', 'selector': 'app-row'},{'name': 'SeparatorComponent', 'selector': 'app-separator'},{'name': 'TextComponent', 'selector': 'app-text'},{'name': 'UikitDemo1Component', 'selector': 'app-uikit-demo1'},{'name': 'UikitDemo2Component', 'selector': 'app-uikit-demo2'},{'name': 'UikitDemo3Component', 'selector': 'app-uikit-demo3'},{'name': 'Weather2Component', 'selector': 'app-weather2'},{'name': 'WeatherComponent', 'selector': 'app-weather'}];
    var DIRECTIVES = [{'name': 'BorderDirective', 'selector': '[appBorder]'},{'name': 'FlexColDirective', 'selector': '[appFlexCol]'},{'name': 'FlexDirective', 'selector': '[appFlex]'},{'name': 'FocusDirective', 'selector': '[appFocus]'},{'name': 'HelloDirective', 'selector': '[appHello]'},{'name': 'IfLoggedDirective', 'selector': '[appIfLogged]'},{'name': 'IfRoleIsDirective', 'selector': '[appIfRoleIs]'},{'name': 'IfSigninDirective', 'selector': '[appIfSignin]'},{'name': 'LinkDirective', 'selector': '[appLink]'},{'name': 'LoaderDirective', 'selector': '[appLoader]'},{'name': 'MarginDirective', 'selector': '[appMargin]'},{'name': 'PadDirectives', 'selector': '[appPad]'},{'name': 'StopPropagationDirective', 'selector': '[appStopPropagation]'},{'name': 'UrlDirective', 'selector': '[appUrl]'}];
    var ACTUAL_COMPONENT = {'name': 'UikitDemo1Component'};
</script>
<script src="../js/tree.js"></script>















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UikitDemo1Component.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
